@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --pourBouton: #f1c40f;
    --textColor:#ecf0f1;
}

body{
    font-family: "Ubuntu", sans-serif;    
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    z-index: 999;
}

header .logo{
    font-size: 3rem;
    color: var(--textColor);
}

header .list-nav{
    display: flex;
    gap: 25px;
}

.list-nav li{
    list-style: none;
}

.list-nav a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--textColor);
}

main{
    margin: 350px 76px;
}

.description{
    color: var(--textColor);
    width: 55%;
}

.description h1{
    font-size: 4rem;
    margin-bottom: 25px;
}

.description p{
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.link{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.link .link-work, .link-about{
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .7s ease;
}

.link .link-work{
    background-color: var(--pourBouton);
    padding: 8px 16px;
    border-radius: 8px;
    color: #434343;
}

.link .link-work:hover{
    background-color: #ff9d00;
}

.link .link-about{
    border:1px solid var(--pourBouton);
    color: var(--textColor);
    padding: 8px 16px;
    border-radius: 8px;
}

.link .link-about:hover{
    background-color: var(--pourBouton);
    color: #434343;
}


.home .maPhoto{
    width: 600px;
    height: 700px;
    position: absolute;
    top: 100px;
    right: 0;
}

.maPhoto img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0 0 50% 50%;
}












































