@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@theme {
  --color-myRose: #ff6f61;
  --color-myWhite: #ecf0f1;
}
body {
  background-color: #151c21;
  font-family: "Ubuntu", serif;
}
