@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --turquoise:#ff6f61;
    --blue:#4ecdc4;
    --gray:#95a5a6;
}

body{
    font-family: "Ubuntu", sans-serif; 
    background-color: #151c21;
}

*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.gap50{
 gap: 50px;
}

.gap10{
    gap: 10px;
}

.gap5{
    gap: 5px;
}

.fit{
    width: fit-content;
}

.mt200{
    margin-top: 200px;
}

.text-center{
    text-align: center;
}

.w50{
    width: 50%;
}

.w30{
    width: 30%;
}

.mb20{
    margin-bottom: 25px;
}

header{
    width: 95%;
    height: 60px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
    margin: 10px auto;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    color: var(--gray);
}

header ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--gray);
}

main{
    width: 95%;
    margin-inline: auto;
}
/* .button{
    background-color: var(--turquoise);
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    transition: .4s ease;
} */

/* .button:hover{
    background-color: #fe5c4d;
} */


.button-border{
    background-color: #11171c;
    padding: 8px 16px;
    color: #fff;
    border-radius: 50px;
    transition: .4s ease;
}

.box h1{
    font-size: 5rem;
    background: linear-gradient(45deg,var(--turquoise),#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box p{
    font-size: 2rem;
    color: var(--gray);
}

.socials{
    margin-top: 30px;
}

.socials a img{
    width: 25px;
    height: 25px;
    color: var(--turquoise);
}

.myPhoto{
    width: 250px;
    height: 250px;
    margin-inline:auto;
    border: 2px solid var(--turquoise);
    border-radius: 50%;
    background-color: var(--turquoise);
}

.myPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}








































































